<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        id="WebApp_ID" version="3.0">
  <display-name>NumberWordsWebCalc</display-name>
  <servlet>    
    <display-name>NumberWordsWebCalc</display-name>
    <servlet-name>NumberWordsWebCalc</servlet-name>
    <servlet-class>io.github.r_h.simple_web_calc.servlet.NumberWordsWebCalcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumberWordsWebCalc</servlet-name>
    <url-pattern>/</url-pattern>    
  </servlet-mapping>
</web-app>